In [125]:
import pandas as pd
import numpy as np

social_cat = pd.read_csv('PercentageDataSocialCategories.csv')
print(social_cat)
districts = pd.read_csv('DistrictByCell.csv')
print(districts)
print(social_cat['house_district'].unique())

      house_district person_gender Возрастной класс person_exemption_group  \
0      Академический             f            18-25            Многодетные
1      Академический             f            18-25                    NaN
2      Академический             f            25-45           Беременность
3      Академический             f            25-45                Инвалид
4      Академический             f            25-45             Малоимущие
...              ...           ...              ...                    ...
13566        Ясенево             m              90<          Ветеран труда
13567        Ясенево             m              90<              Пенсионер
13568        Ясенево             m               <7          Дети инвалиды
13569        Ясенево             m               <7            Многодетные
13570        Ясенево             m               <7                    NaN

            sum
0      0.003655
1      0.142377
2      0.011624
3      0.005812
4      0.000110
...         ...
13566  0.000161
13567  0.001608
13568  0.001126
13569  0.002433
13570  0.085344

[13571 rows x 5 columns]
          District
0      Хорошёвский
1      Хорошёвский
2      Хорошёвский
3      Хорошёвский
4      Хорошёвский
...            ...
24391      Люблино
24392      Люблино
24393      Люблино
24394      Люблино
24395      Люблино

[24396 rows x 1 columns]
['Академический' 'Алексеевский' 'Алтуфьевский' 'Арбат' 'Аэропорт'
 'Бабушкинский' 'Басманный' 'Беговой' 'Бескудниковский' 'Бибирево'
 'Бирюлево Восточное' 'Бирюлево Западное' 'Богородское' 'Братеево'
 'Бутырский' 'Вешняки' 'Внуково' 'Внуковское' 'Войковский' 'Вороновское'
 'Воскресенское' 'Восточное Дегунино' 'Восточное Измайлово' 'Восточный'
 'Выхино-Жулебино' 'Гагаринский' 'Головинский' 'Гольяново' 'Даниловский'
 'Десеновское' 'Дмитровский' 'Донской' 'Дорогомилово' 'Замоскворечье'
 'Западное Дегунино' 'Зюзино' 'Зябликово' 'Ивановское' 'Измайлово'
 'Капотня' 'Киевский' 'Кленовское' 'Кокошкино' 'Коньково' 'Коптево'
 'Косино-Ухтомский' 'Котловка' 'Краснопахорское' 'Красносельский'
 'Крылатское' 'Крюково' 'Кузьминки' 'Кунцево' 'Куркино' 'Левобережный'
 'Лефортово' 'Лианозово' 'Ломоносовский' 'Лосиноостровский' 'Люблино'
 'Марушкинское' 'Марфино' 'Марьина Роща' 'Марьино' 'Матушкино'
 'Метрогородок' 'Мещанский' 'Митино' 'Михайлово-Ярцевское' 'Можайский'
 'Молжаниновский' 'Москворечье-Сабурово' 'Московский' 'Мосрентген'
 'Нагатино-Садовники' 'Нагатинский Затон' 'Нагорный' 'Некрасовка'
 'Нижегородский' 'Ново-Переделкино' 'Новогиреево' 'Новокосино'
 'Новофедоровское' 'Обручевский' 'Орехово-Борисово Северное'
 'Орехово-Борисово Южное' 'Останкинский' 'Отрадное' 'Очаково-Матвеевское'
 'Первомайское' 'Перово' 'Печатники' 'Покровское-Стрешнево'
 'Преображенское' 'Пресненский' 'Проспект Вернадского' 'Раменки'
 'Роговское' 'Ростокино' 'Рязановское' 'Рязанский' 'Савелки' 'Савеловский'
 'Свиблово' 'Северное Бутово' 'Северное Измайлово' 'Северное Медведково'
 'Северное Тушино' 'Северный' 'Силино' 'Сокол' 'Соколиная Гора'
 'Сокольники' 'Солнцево' 'Сосенское' 'Старое Крюково' 'Строгино'
 'Таганский' 'Тверской' 'Текстильщики' 'Теплый Стан' 'Тимирязевский'
 'Троицк' 'Тропарево-Никулино' 'Филевский Парк' 'Фили-Давыдково'
 'Филимонковское' 'Хамовники' 'Ховрино' 'Хорошево-Мневники' 'Хорошевский'
 'Царицыно' 'Черемушки' 'Чертаново Северное' 'Чертаново Центральное'
 'Чертаново Южное' 'Щаповское' 'Щербинка' 'Щукино' 'Южное Бутово'
 'Южное Медведково' 'Южное Тушино' 'Южнопортовый' 'Якиманка' 'Ярославский'
 'Ясенево']

In [126]:
pers_exemp_groups = social_cat['person_exemption_group'].unique()
pers_exemp_groups = np.delete(pers_exemp_groups, 1, 0)

districts = districts.replace(to_replace = 'Хорошёвский', value='Хорошевский', regex=True)
districts = districts.replace(to_replace = 'Савёловский', value='Савеловский', regex=True)

districts

          District
0      Хорошевский
1      Хорошевский
2      Хорошевский
3      Хорошевский
4      Хорошевский
...            ...
24391      Люблино
24392      Люблино
24393      Люблино
24394      Люблино
24395      Люблино

[24396 rows x 1 columns]

In [127]:
ness_dists = districts['District'].unique()

to_drop = list()

for ind, row in social_cat.iterrows():
    if (row['house_district'] not in ness_dists):
        to_drop.append(ind)
social_cat = social_cat.drop(to_drop)
print(social_cat['house_district'].unique())

['Академический' 'Алексеевский' 'Арбат' 'Аэропорт' 'Басманный' 'Беговой'
 'Бутырский' 'Гагаринский' 'Даниловский' 'Донской' 'Дорогомилово'
 'Замоскворечье' 'Котловка' 'Красносельский' 'Лефортово' 'Ломоносовский'
 'Люблино' 'Марьина Роща' 'Мещанский' 'Нагатинский Затон' 'Нагорный'
 'Нижегородский' 'Останкинский' 'Перово' 'Печатники' 'Преображенское'
 'Пресненский' 'Раменки' 'Савеловский' 'Соколиная Гора' 'Сокольники'
 'Таганский' 'Тверской' 'Текстильщики' 'Хамовники' 'Хорошевский'
 'Южнопортовый' 'Якиманка']

In [130]:
for group in pers_exemp_groups:
    print(group)
    districts[group] = districts.apply(lambda row: social_cat[(social_cat['house_district'] == row['District']) & (social_cat['person_exemption_group'] == group)].sum()['sum'], axis = 1)

Многодетные
Беременность
Инвалид
Малоимущие
Пенсионер
Ветеран труда
Дети инвалиды
Молодые родители

In [131]:
print(districts)

          District  Многодетные  Беременность   Инвалид  Малоимущие  \
0      Хорошевский     0.196807      0.016511  0.145450    0.020205
1      Хорошевский     0.196807      0.016511  0.145450    0.020205
2      Хорошевский     0.196807      0.016511  0.145450    0.020205
3      Хорошевский     0.196807      0.016511  0.145450    0.020205
4      Хорошевский     0.196807      0.016511  0.145450    0.020205
...            ...          ...           ...       ...         ...
24391      Люблино     0.108100      0.015719  0.179842    0.033763
24392      Люблино     0.108100      0.015719  0.179842    0.033763
24393      Люблино     0.108100      0.015719  0.179842    0.033763
24394      Люблино     0.108100      0.015719  0.179842    0.033763
24395      Люблино     0.108100      0.015719  0.179842    0.033763

       Пенсионер  Ветеран труда  Дети инвалиды  Молодые родители
0       0.399590       0.181619       0.014732          0.025086
1       0.399590       0.181619       0.014732          0.025086
2       0.399590       0.181619       0.014732          0.025086
3       0.399590       0.181619       0.014732          0.025086
4       0.399590       0.181619       0.014732          0.025086
...          ...            ...            ...               ...
24391   0.456965       0.165078       0.015490          0.025042
24392   0.456965       0.165078       0.015490          0.025042
24393   0.456965       0.165078       0.015490          0.025042
24394   0.456965       0.165078       0.015490          0.025042
24395   0.456965       0.165078       0.015490          0.025042

[24396 rows x 9 columns]

In [135]:
districts = pd.read_csv('cur_distr.csv')

In [155]:
ages = social_cat['Возрастной класс'].unique()
genders = social_cat['person_gender'].unique()

In [137]:
for age in ages:
    print(age)
    districts[age] = districts.apply(lambda row: social_cat[(social_cat['house_district'] == row['District']) & (social_cat['Возрастной класс'] == age)].sum()['sum'], axis = 1)

18-25
25-45
45-60
60-75
7-18
75-90
90<
<7

In [139]:
districts.to_csv(r'C:\Users\1\AgeAdded.csv', index = False, header=True)

In [152]:
districts.iloc[:,9:] /= 3

In [154]:
districts.to_csv(r'C:\Users\1\NormalAgeAdded.csv', index = False, header=True)

In [156]:
for gender in genders:
    print(gender)
    districts[gender] = districts.apply(lambda row: social_cat[(social_cat['house_district'] == row['District']) & (social_cat['person_gender'] == gender)].sum()['sum'], axis = 1)

f
m

In [158]:
districts.to_csv(r'C:\Users\1\GenderAdded.csv', index = False, header=True)

In [169]:
districts.iloc[:,-1:] /= 4

In [172]:
districts.to_csv(r'C:\Users\1\SocialDataAdded.csv', index = False, header=True)

In [171]:
districts

,District,Многодетные,Беременность,Инвалид,Малоимущие,Пенсионер,Ветеран труда,Дети инвалиды,Молодые родители,18-25,25-45,45-60,60-75,7-18,75-90,90<,<7,f
0,Хорошевский,0.196807,0.016511,0.145450,0.020205,0.399590,0.181619,0.014732,0.025086,0.082326,0.356032,0.222911,0.180996,0.178943,0.066104,0.008879,0.078814,0.486351
1,Хорошевский,0.196807,0.016511,0.145450,0.020205,0.399590,0.181619,0.014732,0.025086,0.082326,0.356032,0.222911,0.180996,0.178943,0.066104,0.008879,0.078814,0.486351
2,Хорошевский,0.196807,0.016511,0.145450,0.020205,0.399590,0.181619,0.014732,0.025086,0.082326,0.356032,0.222911,0.180996,0.178943,0.066104,0.008879,0.078814,0.486351
3,Хорошевский,0.196807,0.016511,0.145450,0.020205,0.399590,0.181619,0.014732,0.025086,0.082326,0.356032,0.222911,0.180996,0.178943,0.066104,0.008879,0.078814,0.486351
4,Хорошевский,0.196807,0.016511,0.145450,0.020205,0.399590,0.181619,0.014732,0.025086,0.082326,0.356032,0.222911,0.180996,0.178943,0.066104,0.008879,0.078814,0.486351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24391,Люблино,0.108100,0.015719,0.179842,0.033763,0.456965,0.165078,0.015490,0.025042,0.076649,0.370793,0.223413,0.198765,0.150896,0.054818,0.006935,0.071271,0.474273
24392,Люблино,0.108100,0.015719,0.179842,0.033763,0.456965,0.165078,0.015490,0.025042,0.076649,0.370793,0.223413,0.198765,0.150896,0.054818,0.006935,0.071271,0.474273
24393,Люблино,0.108100,0.015719,0.179842,0.033763,0.456965,0.165078,0.015490,0.025042,0.076649,0.370793,0.223413,0.198765,0.150896,0.054818,0.006935,0.071271,0.474273
24394,Люблино,0.108100,0.015719,0.179842,0.033763,0.456965,0.165078,0.015490,0.025042,0.076649,0.370793,0.223413,0.198765,0.150896,0.054818,0.006935,0.071271,0.474273
24395,Люблино,0.108100,0.015719,0.179842,0.033763,0.456965,0.165078,0.015490,0.025042,0.076649,0.370793,0.223413,0.198765,0.150896,0.054818,0.006935,0.071271,0.474273