In [41]:
import pandas as pd
import numpy as np
import random as rd

data = pd.read_csv("result.csv", index_col = 0)
data = data.drop(columns = {"x_coord", "y_coord"})
data

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]

[24396 rows x 0 columns]

In [42]:
data['Passability'] = np.zeros(data.shape[0])
data

       Passability
id
1              0.0
2              0.0
3              0.0
4              0.0
5              0.0
...            ...
24392          0.0
24393          0.0
24394          0.0
24395          0.0
24396          0.0

[24396 rows x 1 columns]

In [43]:
for ind in data.index:
    data.iloc[ind - 1, 0] = int(rd.uniform(100, 10000))

In [45]:
data.to_csv(r'C:\Users\1\Passability.csv', index = False, header=True)