In [137]:
import pandas as pd
import numpy as np

data = pd.read_excel("DataRegion.xlsx")

data.head(5)

  house_district person_gender Возрастной класс person_exemption_group   sum
0  Академический             f            18-25            Многодетные   100
1  Академический             f            18-25                    NaN  3895
2  Академический             f            25-45           Беременность   318
3  Академический             f            25-45                Инвалид   159
4  Академический             f            25-45             Малоимущие     3

In [138]:
districts = data["house_district"].unique()
sizes = dict()

for district in districts:
    summ = data[(data["house_district"] == district) & (data["person_exemption_group"])]['sum'].sum()
    sizes[district] = summ

print(sizes)

for index in data.index:
    data.iloc[index, 4] = data.at[index, "sum"] / sizes[data.at[index, "house_district"]]
    
print(data)

{'Академический': 27357, 'Алексеевский': 19765, 'Алтуфьевский': 14596, 'Арбат': 7287, 'Аэропорт': 19850, 'Бабушкинский': 24217, 'Басманный': 26867, 'Беговой': 10560, 'Бескудниковский': 22186, 'Бибирево': 42691, 'Бирюлево Восточное': 39467, 'Бирюлево Западное': 21836, 'Богородское': 27849, 'Братеево': 27645, 'Бутырский': 16336, 'Вешняки': 33155, 'Внуково': 6927, 'Внуковское': 8324, 'Войковский': 19603, 'Вороновское': 2986, 'Воскресенское': 3615, 'Восточное Дегунино': 26585, 'Восточное Измайлово': 19357, 'Восточный': 3272, 'Выхино-Жулебино': 56185, 'Гагаринский': 22030, 'Головинский': 28925, 'Гольяново': 44692, 'Даниловский': 23510, 'Десеновское': 7619, 'Дмитровский': 24202, 'Донской': 12279, 'Дорогомилово': 17546, 'Замоскворечье': 12551, 'Западное Дегунино': 24638, 'Зюзино': 31966, 'Зябликово': 32269, 'Ивановское': 33646, 'Измайлово': 27175, 'Капотня': 7267, 'Киевский': 3083, 'Кленовское': 1278, 'Кокошкино': 3194, 'Коньково': 42342, 'Коптево': 27013, 'Косино-Ухтомский': 20093, 'Котловка': 17158, 'Краснопахорское': 1691, 'Красносельский': 10572, 'Крылатское': 24638, 'Крюково': 31014, 'Кузьминки': 35597, 'Кунцево': 39648, 'Куркино': 9438, 'Левобережный': 14943, 'Лефортово': 19761, 'Лианозово': 24557, 'Ломоносовский': 24365, 'Лосиноостровский': 24232, 'Люблино': 48159, 'Марушкинское': 2195, 'Марфино': 9829, 'Марьина Роща': 16454, 'Марьино': 72026, 'Матушкино': 12727, 'Метрогородок': 9853, 'Мещанский': 15690, 'Митино': 51282, 'Михайлово-Ярцевское': 1621, 'Можайский': 37645, 'Молжаниновский': 2885, 'Москворечье-Сабурово': 21246, 'Московский': 16216, 'Мосрентген': 3240, 'Нагатино-Садовники': 21100, 'Нагатинский Затон': 29507, 'Нагорный': 20311, 'Некрасовка': 18084, 'Нижегородский': 10663, 'Ново-Переделкино': 32851, 'Новогиреево': 25370, 'Новокосино': 27545, 'Новофедоровское': 2251, 'Обручевский': 21488, 'Орехово-Борисово Северное': 33993, 'Орехово-Борисово Южное': 38589, 'Останкинский': 16132, 'Отрадное': 54327, 'Очаково-Матвеевское': 30916, 'Первомайское': 3776, 'Перово': 36394, 'Печатники': 22381, 'Покровское-Стрешнево': 14861, 'Преображенское': 21224, 'Пресненский': 34798, 'Проспект Вернадского': 17042, 'Раменки': 35503, 'Роговское': 1052, 'Ростокино': 10933, 'Рязановское': 7065, 'Рязанский': 27349, 'Савелки': 10218, 'Савеловский': 16539, 'Свиблово': 15718, 'Северное Бутово': 25712, 'Северное Измайлово': 25103, 'Северное Медведково': 30667, 'Северное Тушино': 39050, 'Северный': 11136, 'Силино': 12987, 'Сокол': 14633, 'Соколиная Гора': 23231, 'Сокольники': 15371, 'Солнцево': 31553, 'Сосенское': 11119, 'Старое Крюково': 9855, 'Строгино': 39882, 'Таганский': 32707, 'Тверской': 21758, 'Текстильщики': 24115, 'Теплый Стан': 37019, 'Тимирязевский': 21307, 'Троицк': 16214, 'Тропарево-Никулино': 33181, 'Филевский Парк': 21169, 'Фили-Давыдково': 28754, 'Филимонковское': 2863, 'Хамовники': 25243, 'Ховрино': 26787, 'Хорошево-Мневники': 42338, 'Хорошевский': 21925, 'Царицыно': 31744, 'Черемушки': 28636, 'Чертаново Северное': 27953, 'Чертаново Центральное': 29378, 'Чертаново Южное': 37143, 'Щаповское': 3110, 'Щербинка': 13192, 'Щукино': 27608, 'Южное Бутово': 64294, 'Южное Медведково': 22317, 'Южное Тушино': 27861, 'Южнопортовый': 18601, 'Якиманка': 7009, 'Ярославский': 24102, 'Ясенево': 49740}
      house_district person_gender Возрастной класс person_exemption_group  \
0      Академический             f            18-25            Многодетные
1      Академический             f            18-25                    NaN
2      Академический             f            25-45           Беременность
3      Академический             f            25-45                Инвалид
4      Академический             f            25-45             Малоимущие
...              ...           ...              ...                    ...
13566        Ясенево             m              90<          Ветеран труда
13567        Ясенево             m              90<              Пенсионер
13568        Ясенево             m               <7          Дети инвалиды
13569        Ясенево             m               <7            Многодетные
13570        Ясенево             m               <7                    NaN

            sum
0      0.003655
1      0.142377
2      0.011624
3      0.005812
4      0.000110
...         ...
13566  0.000161
13567  0.001608
13568  0.001126
13569  0.002433
13570  0.085344

[13571 rows x 5 columns]

In [139]:
data.to_csv(r'C:\Users\1\export_dataframe.csv', index = False, header=True)